DJANGO_SECRET_KEY=
DJANGO_DEBUG=
ALLOWED_HOSTS=
DATABASE_URL= postgresql://neondb_owner:npg_HuI2g8tYdTnf@ep-bold-resonance-al44woba.c-3.eu-central-1.aws.neon.tech/taste_seven_dug_911782
CLOUDINARY_URL=
